[Desktop Entry]
Name=Record Desktop
Comment=Record Desktop

Icon=jrecorddesktop

Type=Application
Categories=AudioVideo

Exec=jrecorddesktop
StartupNotify=false
Terminal=false
MimeType=

Title=jfRecordDesktop
