[Desktop Entry]
Name=PDF Reader (Google Chrome)
Comment=PDF Reader (Google Chrome)

Icon=chrome-pdf

Type=Application
Categories=Office

Exec=/opt/google/chrome/chrome %f
StartupNotify=false
Terminal=false
MimeType=application/pdf
