[Desktop Entry]
Name=Password Manager
Comment=Password Manager

Icon=jpasswords

Type=Application
Categories=Utility

Exec=jpasswords
StartupNotify=false
Terminal=false
MimeType=

Title=jfPasswords
