[Desktop Entry]
Name=Apps Center
Comment=Apps Center

Icon=japps

Type=Application
Categories=Settings

Exec=japps
StartupNotify=false
Terminal=false
MimeType=application/x-deb

Title=jfApps
