[Desktop Entry]
Name=Torrent
Comment=Torrent

Icon=jtorrent

Type=Application
Categories=Network

Exec=jtorrent
StartupNotify=false
Terminal=false
MimeType=application/x-bittorrent

Title=jfTorrent
